<div class="page_title container-fluid">
  <h1>Artistas</h1>
</div>
<% if @artistas.empty? %>
  <h1>Nenhum artista cadastrado</h1>
<% else %>
  <div class="container">
    <div class="row thumbnails">
      <% for artista in @artistas do %>
        <div class="col-xs-3 thumbnail artistshow span3">
          <div class="artista" object-id="<%= artista.id %>">
            <%= image_tag(artista.foto_perfil.url(:thumb), class:"thumbnail")  %>
            <div class="caption">
              <h3 class='nome_artista_home'><a href="/<%= uniq_url_for(artista) %>"><%= artista.nome %></a></h3>
              <p class='well'> <%= artista.biografia %> </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>
