<div class="row">
   <div class="span12 cover sombreado" style="background-image: url('<%= asset_path(@artista.foto_capa.url(:original)) %>')">
  </div>
    <%= image_tag(@artista.foto_perfil.url(:thumb), class: "profile") %>
  <%= content_tag(:h1, @artista.nome, class: "profile-name", rel: "author")%>
</div>

<div class="container-fluid">
  <div class="row widget">
      <div id="navmenu">
        <ul>
        	<li><a href="#"><span class="icon-clock medium-icon"></span>Timelapse</a></li>
        	<li><a href="#"><span class="icon-feed medium-icon"></span>Acompanhamento</a></li>
        	<li><a href="#"><span class="icon-wrench medium-icon"></span>Técnicas</a></li>
        	<li><a href="#"><span class="icon-present medium-icon"></span>Encomendas</a></li>
          <li><a href="#"><span class="icon-graph medium-icon"></span>Faturamento</a></li>
          <li><a href="#"><span class="icon-refresh medium-icon"></span>Evolução</a></li>
        </ul>
      </div>
  </div>

<div class="row-fluid container visible-desktop">
  <div class="col-lg-8 col-md-6 col-sm-12">
  <!--biografia-->
    <div class="col-lg-6 col-md-6 col-sm-12 widget">
      <h3><span class="icon-user-following medium-icon"></span>Biografia</h3>
      <div class="well">
        <%= @artista.biografia %>
      </div>
    </div>
    <!--info-->
    <div class="col-lg-5 col-md-6 col-sm-12 widget fluid">
      <h3><span class="icon-info medium-icon"></span>Info</h3>
        <% { "Email" => @artista.email, "Site" => link_to("/#{@artista.url_unica}", @artista.url_unica), "Iniciou em" => @artista.iniciou_em}.each do |_label,value| %>
    <div class="row">
        <div class="col-xs-4"> <%= content_tag(:strong, _label)  %> </div>
        <div class="col-xs-3"> <%= content_tag(:span, value)  %> </div>
    </div>
    <% end  %>
    </div>
    <!--portfolio-->
    <div class="col-lg-12 col-md-6 col-sm-12 widget">
        <h2><span class="icon-book-open medium-icon"></span>Portfólio</h2>
        <%= render :partial => "shared/produto_carousel", :locals => {:produtos => @artista.produtos}%>
    </div>
</div>
    <!--progressão-->

    <div class="col-lg-3 col-md-6 col-sm-12 widget">
      <h3><span class="icon-badge medium-icon"></span>Progressão</h3>
        <div render="/chart">
        </div>
    </div>

  </div>
</div>
