<div class="row">
   <div class="span12 cover sombreado" style="background-image: url('<%= asset_path(@artista.foto_capa.url(:original)) %>')">
  </div>
    <%= image_tag(@artista.foto_perfil.url(:thumb), class: "profile") %>
  <%= content_tag(:h1, @artista.nome, class: "profile-name", rel: "author")%>
</div>

<div class="container">
  
<div class="row thumbnails">
  <% %w(timelapse acompanhamento técnicas encomendas faturamento evolução).each do |app|  %>
    <div class="col-xs-2 " style="border: 1px dotted gray;">
      <%= link_to(image_tag("logo.png"), "#", class: "small-thumbnail")%>
      <div class="caption">
        <%= app%>
      </div>
    </div>
  <% end  %>
</div>
<div class="row">
  <div class="col-xs-5">
    <h3>Biografia</h3>
    <div class="well">
      <%= @artista.biografia %>
    </div>
  </div>
  <div class="col-xs-3">
    <h3>Info</h3>
    <% { "Email" => @artista.email, "Site" => link_to("/#{@artista.url_unica}", @artista.url_unica), "Iniciou em" => @artista.iniciou_em}.each do |_label,value| %>
      <div class="row">
         <div class="col-xs-6"> <%= content_tag(:strong, _label)  %> </div>
         <div class="col-xs-6"> <%= content_tag(:span, value)  %> </div>
      </div>
    <% end  %>
  </div>
  <div class="col-xs-4">
    <h3>Progressão</h3>
    <div render="/chart">
    </div>
  </div>
</div>
<div class="row">
  <h2>Portfólio</h2>
  <%= render :partial => "shared/produto_carousel", :locals => {:produtos => @artista.produtos}%>
</div>
</div>
