<h1>Produtos</h1>
<div class='produtos'>
<% if @produtos.blank? %>
  <h2>Nenhum produto cadastrado</h2>
<% else %>
  <% for produto in @produtos %>
    <div class='produto' object-id="<%= produto.id %>">
      <% if produto.imagens.blank? %>
        <%= image_tag 'imagem_produto_default.png' %>
      <% else %>
        <%= image_tag produto.imagens.first.anexo.url(:thumb) %>
      <% end %>
      <span class="label produto"><%= link_to produto.nome, uniq_url_for(produto) %></span>
      <br>
      <span class="label produto-artista"><%= link_to produto.artista.nome, uniq_url_for(produto.artista) %></span>
  </div>
  <hr>
  <% end %>
<% end %>
</div>
