<h1>Produtos</h1>
<div class='produtos span9'>
  <% if @produtos.blank? %>
    <h2>Nenhum produto cadastrado</h2>
  <% else %>
    <div class="row">
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/produtos" class="active">Produtos</a></li>
      </ol>
      <% for produto in @produtos %>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <%= link_to show_first_image_or_default_for(produto), produto.url_unica %>
            <div class="caption">
              <%= content_tag(:h3,produto.nome) %>
              <p>Por <i class="small"><%= link_to(produto.artista.nome, produto.artista.url_unica)  %></i></p>
              <p>
                <%= link_to("Ver mais", produto.url_unica, class:"btn btn-primary", role: "button") %>
                <%= content_tag(:span, "R$ #{produto.preco.reais}", class: "badge price") %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
      <span class="label produto"><%= link_to produto.nome, uniq_url_for(produto) %></span>
      <br>
      <span class="label produto-artista"><%= link_to produto.artista.nome, uniq_url_for(produto.artista) %></span>
  </div>
  <hr>
  <% end %>
</div>
